.contact-text{
    font-family: "Playfair display";
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-img{
    margin-top: 20px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

p {
    margin: 40px;
    font-size: 1.3rem;
}