
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 5px;
    padding-bottom: 50px;
    font-family: "Playfair display";

}

.nav-container a {
    text-decoration: none; /* Remove underline from hyperlinks */
    color: #000; /* Set the default text color */
    font-size: 1.75rem;
    padding: 10px;
}

.nav-container a:hover {
    background-color: #ffb6c1; /* Pastel pink background color on hover */
    color: #fff; /* White text color on hover */
}